<div class="container">

	<h2 class="text-center decHead"><strong>Decision:<br /></strong></h2>
			<div class="dec text-center">
			<strong><%= @decision.text %></strong>
			</div>



		<div class="importantFactorBox col-xs-12">
			<br />

			<h3 class="text-center"><strong>List the Important Factors:<br /></strong></h3>

			<ul class="criList">
			<% @criteria.each do |c| %>
				<li>
					<div class="criItem">

						<div class="col-sm-6">
							<b><%= c.text %></b> <br /><span class="decision"> for the decision <b><%= c.decision.text %></b></span>
						</div>

						<div class="col-sm-2 rating">
							<b> <%= c.importance %></b> <br />
						</div>

						<div class="col-sm-1"></div>

						<div class="col-sm-3">
							<%= button_to " X ", decision_criterion_path(@decision.id, c.id), method: :delete, :class => "pull-right btn btn-default btn-md btn-reder deleteCri" %>
						</div>
				
					</div>
				</li>
				
				<br />

			<% end %>		

				<br /><br /><br /><br />

			</ul>

		</div>


		<div class="addCri text-center">

			<%= form_for [@decision, @criterion] do |oneCriterion| %>

				<div class="col-md-4 text-center">

					<%= oneCriterion.text_field :text, placeholder: "What's a factor for this decision?", :class => "criInputer text-center" %>

				</div>

				<div class="col-md-4 text-center">

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Give this factor a value: <%= oneCriterion.select :importance,  
							'<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>'.html_safe

						  %>

				</div>

					<br /><br /><br />

				</div>

				<div class="col-md-4 text-center">

					<%= oneCriterion.submit :class => "btn btn-default btn-md btn-greeny" %>

				</div>

				<div id="mySpace">&nbsp;</div>

				<div class="col-md-2 text-center"></div>

				<div class="col-md-3">

					<%= link_to "Find your answer!", new_decision_criterion_path(@decision.id), :class => "pull-left btn btn-default btn-md btn-bluey" %>

				</div>

				<div class="col-md-2 text-center"></div>
				

			<% end %>

				
				<div class="col-md-3 text-center">

					<button onclick="window.location.href='/decisions'" class="pull-right btn btn-default btn-md btn-redy">See Previous Decisions</button>

				</div>

				<div class="col-md-2 text-center"></div>

		</div>


	</div>


</div>
