<div class="container">

<div class="logIn text-center ">

	<h1 class="text-center">Log in</h1><br />

        
	   <%= form_for @user, {url: session_path} do |f| %>
			<%= f.text_field :email, placeholder: "Email", :class => "inputEmail" %><br />
			<%= f.password_field :password, placeholder: "password" %><br />
			<%= f.submit "Log in", :class => "btn btn-default btn-md btn-blue" %>
		<% end %>

		<br /><br /><br /><br />

		<%= button_to "Log out", session_path, method: :delete, :class => "btn btn-default btn-md btn-red" %>

</div>

</div>